    body{

    background: url(animacoes_e_imagens/prototipo-fundo-hobot.png);

    background-size: cover;

    overflow-x: hidden;

    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

}



/* TOPO */
.box1{

    text-align: center;

    padding: 10px;

    margin-bottom: 30px;

    border-bottom: 3px solid black;

    background: radial-gradient(circle,
    rgba(123,0,255,1) 0%,
    rgba(178,89,255,1) 77%);

}



/* CONTEUDO */
.conteudo-principal{

    display: flex;

    gap: 40px;

    padding: 20px;

    align-items: flex-start;

}



/* MENU */
.box2{

    width: 300px;

    height: 700px;

    overflow-y: auto;

    border: 1px solid black;

    border-radius: 15px;

    background: linear-gradient(
    270deg,
    rgba(208,201,249,1) 29%,
    rgba(157,135,255,1) 100%);

}



/* MENU HEADER */
.menu-header{

    background: radial-gradient(circle,
    rgba(123,0,255,1) 0%,
    rgba(178,89,255,1) 77%);

    padding: 10px;

    text-align: center;

}



/* TEXTO MENU */
.menu_texto{

    margin: 0;

}



/* CONTEUDO MENU */
.conteudo_menu_texto{

    padding: 15px;

}



/* HOBBIES */
details{

    margin-bottom: 20px;

}



/* TITULO HOBBY */
summary{

    cursor: pointer;

    font-weight: bold;

    margin-bottom: 10px;

    font-size: 18px;

}



/* CARDS */
.card-video{

    background-color: white;

    border: 1px solid purple;

    border-radius: 8px;

    padding: 12px;

    margin-top: 10px;

    cursor: pointer;

    transition: 0.3s;

}



/* HOVER */
.card-video:hover{

    background-color: #e5ccff;

    transform: scale(1.02);

}



/* AREA VIDEO */
.area-video{

    flex: 1;

    background-color: white;

    border: 1px solid black;

    border-radius: 15px;

    padding: 20px;

}



/* VIDEO */
.area-video iframe{

    width: 100%;

    height: 500px;

    border: none;

    border-radius: 10px;

}



/* INFO VIDEO */
.info-video{

    margin-top: 20px;

    background-color: #f2f2f2;

    padding: 20px;

    border-radius: 10px;

}



/* TITULO */
#tituloVideo{

    margin-top: 0;

}



/* BOTAO */
#linkCanal{

    display: inline-block;

    margin-top: 10px;

    background-color: purple;

    color: white;

    padding: 10px 15px;

    border-radius: 8px;

    text-decoration: none;

}



/* HOVER BOTAO */
#linkCanal:hover{

    background-color: rgb(98, 0, 128);

}