@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&display=swap');

.menu{
    font-family:'https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&display=swap' ;
}


.rgb-text {
    font-size: 72px;
    font-weight: bold;
    /* Cria o gradiente colorido */
    background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
    /* Define o tamanho do fundo para ser maior que o texto, permitindo o movimento */
    background-size: 200% auto;
    /* Faz o fundo aparecer apenas onde há texto */
    -webkit-background-clip: text;
    background-clip: text;
    /* Deixa o texto transparente para o fundo aparecer */
    color: transparent;
    /* Ativa a animação */
    animation: rgb-animation 3s linear infinite;
  }
  
  /* Define o movimento das cores */
  @keyframes rgb-animation {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
  }

  .white{
    color: white;
  }